<header>
    <div class="search-form">
        <mat-form-field>
          <mat-label>Buscar</mat-label>
          <input [(ngModel)]="filter" (ngModelChange)="onFilter.emit($event)" matInput type="text" placeholder="Escribe lo que quieres buscar">
        </mat-form-field>
    </div>

    <button 
        mat-icon-button 
        matTooltip="Click para agregar un nuevo item en la vista actual" 
        matTooltipPosition="above"
        (click)="onAddItem.emit();"
    >
        <mat-icon>add_circle</mat-icon>
    </button>

    <button 
        mat-icon-button matTooltip="Click para exportar los items de la vista actual a Excel." 
        matTooltipPosition="above"
        (click)="exportToExcel($event)"
    >
        <mat-icon>import_export</mat-icon>
    </button>
</header>