<mat-card class="py-4">
    <mat-card-content class="d-flex justify-content-between border-bottom pb-2">
        <div class="icon-box">
            <mat-icon inline>{{ materialIconName }}</mat-icon>
        </div>
        <div class="text-end">
            <mat-card-subtitle class="mb-1">{{ subtitle }}</mat-card-subtitle>
            <p class="fs-3 m-0">{{ content }}</p>
        </div>
    </mat-card-content>
    
    <mat-card-footer class="px-3">
        <mat-card-title>{{ title }}</mat-card-title>
    </mat-card-footer>
</mat-card>