<div class="user-container">
    <div class="loader" *ngIf="(isLoading)">
        <mat-spinner></mat-spinner>
    </div>
    <ng-container>
        <common-header 
            (onExport)="onExportData($event)"
            (onFilter)="filter = $event"
        ></common-header>
        <common-table #table
            [filterBy]="filter"
            [columns]="columns" 
            [dataSource]="data" 
            (onDelete)="onDelete($event)" 
            (onEdit)="onEdit($event)" 
            (onDetails)="onSeeDetails($event)"> 
        </common-table>
    </ng-container>
</div>
