<div class="carousel-container">

    <button class="back-btn" mat-button (click)="previousSlide()">
        <mat-icon inline>arrow_back_ios</mat-icon>
    </button>

    <div class="carousel-cards" #scrollArea>
        <div class="carousel-card-item" *ngFor="let slideCard of sliderCardList">
            <app-summary-card 
                *ngIf="slideCard.type == 'goal'"
                [title]="slideCard.title"
                [subtitle]="slideCard.subtitle" 
                [materialIconName]="slideCard.materialIconName"
                [content]="slideCard.content">
            </app-summary-card>

            <statistics-card 
                *ngIf="slideCard.type == 'statistic'" 
                [label]="slideCard.title"
                [highlightedText]="slideCard.content" 
                [iconUrl]="slideCard.iconUrl">
            </statistics-card>
        </div>
    </div>

    <button class="next-btn" mat-button (click)="nextSlide()">
        <mat-icon inline>arrow_forward_ios</mat-icon>
    </button>
</div>