@import "~@angular/material/theming";
$primary-color: mat-palette($mat-pink);
$accent-color: mat-palette($mat-blue-gray, A200, A100, A400);
$warn-color: mat-palette($mat-red);

$primary: #0654b3;
$accent: #0a6adf;
$warn: #c0a929;
$dark: #001733;
$danger: #c02323;
$danger-accent: #b91212;

// Breakpoints
$medium-device: 768px;
$large-device: 992px;