<div class="user-container">
    <ng-container>
        <common-header 
            (onExport)="onExport($event)"
            (onFilter)="filter = $event"
            (onAddItem)="onCreate()"
        >
            <button  
                mat-icon-button matTooltip="Click para mostrar el cuadro de asignaciones." 
                matTooltipPosition="above" 
                (click)="showAssignmentDialog()"
            >
                <mat-icon>assignment_ind</mat-icon>
            </button>
        </common-header>

        
        <common-table #table
            [showCustomActions]="true"
            [filterBy]="filter"
            [columns]="columns" 
            [dataSource]="dataMapped" 
            (onDelete)="onDelete($event)" 
            (onEdit)="onEdit($event)" 
            (onDetails)="onSeeDetails($event)"> 
            <ng-template let-data="data">
                <button (click)="showAssignmentConsultanDialog(data)" mat-menu-item matTooltipPosition="above" matTooltip="Asignar consultor"><mat-icon>assignment_ind</mat-icon><b>Asignar consultor</b></button>
                <button (click)="showAssignmentAuditorDialog(data)" mat-menu-item matTooltipPosition="above" matTooltip="Asignar auditor"><mat-icon>supervisor_account</mat-icon><b>Asignar auditor</b></button>
                <button mat-menu-item matTooltipPosition="above" matTooltip="Certificar solicitud"><mat-icon>verified_user</mat-icon><b>Certificar solicitud</b></button>
            </ng-template>
        </common-table>
    </ng-container>
</div>
