<div class="user-container">
    <ng-container>
        <common-header 
            (onExport)="onExport($event)"
            (onFilter)="filter = $event"
            (onAddItem)="onCreate()"
        >
            <button  
                mat-icon-button matTooltip="Click para mostrar el cuadro de asignaciones." 
                matTooltipPosition="above" 
            >
                <mat-icon>assignment_ind</mat-icon>
            </button>
        </common-header>

        

        <common-table #table
            [filterBy]="filter"
            [columns]="columns" 
            [dataSource]="dataMapped" 
            (onDelete)="onDelete($event)" 
            (onEdit)="onEdit($event)" 
            (onDetails)="onSeeDetails($event)"> 
        </common-table>
    </ng-container>
</div>
