$card-size: 190px;

mat-card {
    width: $card-size;
    height: $card-size;
}

.highlighted-text {
    letter-spacing: 1px;
}

.icon {
    width: 70px;
    height: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}