<div class="dialog-container">
    <div class="header" mat-dialog-title>
        <p *ngIf="isCreating" class="display-4">Normativas</p>
        <p *ngIf="isEditing || !isCreating" class="display-4">Detalles de la normativa: {{ normative.publishetAt }}</p>
    </div>
    <div class="details-container" mat-dialog-content>
        <div class="row">
    
            <form class="details" [formGroup]="formGroup">
    
                <mat-form-field>
                    <mat-label>Año de publicación</mat-label>
                    <input matInput placeholder="Ej: 2021" formControlName="publishetAt" type="number">
                </mat-form-field>            

                <mat-form-field>
                    <mat-label>Color</mat-label>
                    <input matInput type="color" formControlName="color">
                </mat-form-field>  

                <mat-form-field>
                    <mat-label>Estatus</mat-label>
                    <mat-select placeholder="Estatus" formControlName="statusId">
                        <mat-option *ngFor="let item of normativeStatuses" [value]="item.id">{{item.description}}</mat-option>
                    </mat-select>
                </mat-form-field>
    
                <mat-form-field>
                    <mat-label>Descripción</mat-label>
                    <textarea 
                        matInput 
                        placeholder="description" 
                        formControlName="description" 
                        type="text"> 
                    </textarea>
                </mat-form-field>
                
                <br />
                <div mat-dialog-actions>
                    <button class="btn btn-danger" mat-dialog-close>
                        <span *ngIf="!isEditing">Cerrar</span>
                        <span *ngIf="isEditing">Cancelar</span>
                    </button>
                    <button [disabled]="!formGroup.valid || !formGroup.dirty" class="btn btn-success" *ngIf="isEditing || isCreating" (click)="onSaveChanges()">Guardar cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>