@import "src/sass/variables";

.section {
    margin-bottom: 1.5rem;
}

.charts {
    .vertical,
    .horizontal {
        margin-bottom: 2rem;
    }
}

@media (min-width: $large-device) {
    .charts {
        margin-bottom: 0;
        display: flex;
        justify-content: center;

        .vertical,
        .horizontal {
            margin-bottom: 0;
            display: inline-block;
            width: 45%;
        }

        .vertical {
            margin-right: 2rem;
        }
    }
}
