@import "src/sass/variables";

.section {
    margin-bottom: 2rem;
}

.charts {
    @media (min-width: $large-device) {
        display: flex;
        justify-content: space-between;
        align-items: stretch;

        .vertical {
            flex-basis: 50%;
            max-width: 700px;
        }

        .horizontal {
            flex-basis: 40%;
            max-width: 500px;
        }
    }
}
