.code {
    figure {
        figcaption {
            font-weight: bold;
        }
        pre {
            background-color: #adadad;
            code {
                color: black;
            }
        }
    }
}