<div class="dialog-container">
    <div class="header" mat-dialog-title>
        <h1 *ngIf="isCreating" >Solicitud de certificación</h1>
        <h1 *ngIf="isEditing || !isCreating">Detalles de la solicitud: {{ queue.organization.name || queue.id }}</h1>
    </div>
    <div class="details-container" mat-dialog-content>
        <div class="row">
    
            <form class="details" [formGroup]="formGroup">

                <mat-form-field>
                    <mat-label>Organización</mat-label>
                    <input type="text"
                        matInput
                        placeholder="Seleccione una Organización"
                        aria-label="Organización"
                        formControlName="organization"
                        [matAutocomplete]="organizationAuto">
                    <mat-autocomplete #organizationAuto="matAutocomplete" [displayWith]="mapOrganizationIntoAutoComplete">
                        <mat-option *ngFor="let item of filteredOrganizations | async" [value]="item">{{item.name}}-({{item.acronym}})</mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Contacto</mat-label>
                    <input type="text"
                        matInput
                        placeholder="Seleccione un contacto"
                        aria-label="Contacto"
                        formControlName="contact"
                        [matAutocomplete]="contactAuto">
                    <mat-autocomplete #contactAuto="matAutocomplete" [displayWith]="mapContactIntoAutoComplete">
                        <mat-option *ngFor="let item of filteredContacts | async" [value]="item">{{item.name}}-({{item.email}})</mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <br>

                <mat-form-field>
                    <mat-label>NORTIC</mat-label>
                    <input type="text"
                        matInput
                        placeholder="Seleccione una NORTIC"
                        aria-label="NORTIC"
                        formControlName="normative"
                        [matAutocomplete]="normativeAuto">
                    <mat-autocomplete #normativeAuto="matAutocomplete" [displayWith]="mapNorticIntoAutoComplete">
                        <mat-option *ngFor="let item of filteredNormatives | async" [value]="item">{{item.category}}{{item.order}}-{{item.publishetAt}}</mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Estado</mat-label>
                    <mat-select placeholder="Estatus" formControlName="statusId">
                        <mat-option *ngFor="let item of queueStatuses" [value]="item.id">{{item.description}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <br>
                
                <mat-form-field>
                    <mat-label>Fecha de inicio</mat-label>
                    <input matInput [matDatepicker]="startDate" formControlName="startDate">
                    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                    <mat-datepicker #startDate>
                      <mat-datepicker-actions>
                        <button mat-button matDatepickerCancel>Cancelar</button>
                        <button mat-raised-button color="primary" matDatepickerApply>Aplicar</button>
                      </mat-datepicker-actions>
                    </mat-datepicker>
                  </mat-form-field>
                
                <mat-form-field>
                    <mat-label>Fecha de finalización</mat-label>
                    <input matInput [matDatepicker]="endDate" formControlName="endDate">
                    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                    <mat-datepicker #endDate>
                      <mat-datepicker-actions>
                        <button mat-button matDatepickerCancel>Cancelar</button>
                        <button mat-raised-button color="primary" matDatepickerApply>Aplicar</button>
                      </mat-datepicker-actions>
                    </mat-datepicker>
                  </mat-form-field>

                
    
                <br />
                <div mat-dialog-actions>
                    <button class="btn btn-danger" mat-dialog-close>
                        <span *ngIf="!isEditing">Cerrar</span>
                        <span *ngIf="isEditing">Cancelar</span>
                    </button>
                    <button [disabled]="!formGroup.valid" class="btn btn-success" *ngIf="isEditing || isCreating" (click)="onSaveChanges()">Guardar cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>