<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <div style="width: 100%;" class="row pt-3">
          <div class="col">
              <h1 class="">ENAT</h1>
          </div>
          <div style="text-align: end;" class="col">
            <p class="lead">Bienvenido, {{ user.email }}</p>
          </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
 <mat-drawer-container  color="primary">
    <mat-drawer #drawer mode="side" [opened]="true">
      <mat-nav-list routerLinkActive="user-management" [routerLinkActiveOptions]="{exact: true}">
        <mat-accordion [displayMode]="'default'" multi>
          <div *ngFor="let item of drawerOptions" >
    
            <mat-list-item 
              *ngIf="item.nodes.length == 0"
              [matTooltip]="item.toolTip" 
              [matTooltipPosition]="item.toolTipPosition" 
              [routerLink]="item.route" 
              role-handler [allowedRoles]="item.allowedRoles"
            >
              <mat-icon mat-list-icon>{{item.icon}}</mat-icon>
              <div mat-line>{{item.label}}</div>
              <mat-divider></mat-divider>
            </mat-list-item>

            <div *ngIf="item.nodes.length > 0">
              <mat-expansion-panel  class="mat-elevation-z0">
                <mat-expansion-panel-header>
                  <mat-list-item>
                    <mat-icon mat-list-icon>{{item.icon}}</mat-icon>
                    <div mat-line>{{item.label}}</div>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                </mat-expansion-panel-header>
                <mat-list-item 
                  *ngFor="let subItem of item.nodes"
                  [matTooltip]="subItem.toolTip" 
                  [matTooltipPosition]="subItem.toolTipPosition" 
                  [routerLink]="subItem.route" 
                  role-handler [allowedRoles]="subItem.allowedRoles"
                >
                  <mat-icon mat-list-icon>{{subItem.icon}}</mat-icon>
                  <div mat-line>{{subItem.label}}</div>
                </mat-list-item>

              </mat-expansion-panel>
              <mat-divider></mat-divider>
            </div>
          </div>
        </mat-accordion>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>