<div class="user-container">
    <div class="loader" *ngIf="(isLoading)">
        <mat-spinner></mat-spinner>
    </div>
    <ng-container>
        <common-header 
            (onExport)="onExport($event)"
            (onFilter)="filter = $event"
        >
            <button role-handler [allowedRoles]="allowedRoles.create"
                mat-icon-button 
                matTooltip="Click para agregar un nuevo item en la vista actual." 
                matTooltipPosition="above"
                (click)="onCreate()"
            >
                <mat-icon>add_circle</mat-icon>
            </button>
        </common-header>
        <common-table #table
            [filterBy]="filter"
            [columns]="columns" 
            [dataSource]="data"
            [editPermissions]="allowedRoles.edit"
            [removePermissions]="allowedRoles.remove"
            (onDelete)="onDelete($event)" 
            (onEdit)="onEdit($event)" 
            (onDetails)="onSeeDetails($event)"> 
        </common-table>
    </ng-container>
</div>
