<div class="container">

    <div class="header">
        <h1>Asignación de solicitud de certificaciones</h1>
    </div>

    <div class="controls">
        <div class="search-form">
            <mat-form-field>
              <mat-label>Buscar</mat-label>
              <input [(ngModel)]="filter" matInput type="text" placeholder="Escribe lo que quieres buscar">
            </mat-form-field>
        </div>
        
        <form>
            <mat-form-field>
                <mat-label>Consultor</mat-label>
                <mat-select placeholder="Consultor" [(ngModel)]="consultant" [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let item of consultants" [value]="item">{{item.name}} {{item.lastName}}</mat-option>
                </mat-select>
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Auditor</mat-label>
                <mat-select placeholder="Auditor" [(ngModel)]="auditor" [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let item of auditors" [value]="item">{{item.name}} {{item.lastName}}</mat-option>
                </mat-select>
            </mat-form-field>
    
            <div class="action-btns">
                <button mat-dialog-close mat-button matTooltipPosition="above" matTooltip="Click para cancelar asignación"><mat-icon>clear</mat-icon><b>Cancelar</b></button>
                <button (click)="assign()" mat-button matTooltipPosition="above" matTooltip="Click para finalizar asignación"><mat-icon>done</mat-icon><b>Asignar</b></button>
            </div>
        </form>
    </div>



    
    <common-table #table
        [showActions]="false"
        [filterBy]="filter"
        [(selectedData)]="selectedData"
        [columns]="columns" 
        [dataSource]="queue">
    </common-table>

</div>