<div class="container">

    <div class="header text-center">
        <h1>Detalles de la Organización</h1>
        <br>
        <p class="lead">{{ organization.name }}</p>
        <p class="lead">({{ organization.acronym }})</p>
    </div>

    <ng-container>
        <div class="text-center">
            <h1>Certificaciones</h1>
        </div>
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="En proceso">
                <div class="text-center p-4">
                    <div class="row justify-content-around">
                        <div *ngFor="let nortic of norticsInProgress" style="width: 400px; padding: 5px;">
                            <nortic-stamp 
                                [stampCode]="nortic.niu"
                                [color]="nortic.color"
                                [backgroundColor]="'#FFF'"
                                [year]="nortic.year"
                                [nortic]="nortic.nortic"
                            ></nortic-stamp>
                            <br>
                            <br>
                            <p class="lead"><b>Fecha de solicitud:</b> {{nortic.startDate}}</p>
                            <p class="lead"><b>Fecha de finalidad:</b> {{nortic.endDate}} </p>
                            <p class="lead"><b>Consultor:</b> {{nortic.consultant}}</p>
                            <p class="lead"><b>Auditor:</b> {{nortic.auditor}}</p>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Completadas">
                <div class="text-center p-4">
                    <div class="row justify-content-around">
                        <div *ngFor="let nortic of norticsDone" style="width: 400px; padding: 5px;">
                            <nortic-stamp 
                                [stampCode]="nortic.niu"
                                [color]="nortic.color"
                                [backgroundColor]="'#FFF'"
                                [year]="nortic.year"
                                [nortic]="nortic.nortic"
                            ></nortic-stamp>
                            <br>
                            <br>
                            <p class="lead">Desde: <b>{{nortic.startDate}}</b> | Hasta: <b>{{nortic.endDate}}</b> </p>
                        </div>
                    </div>
                </div>
            </mat-tab>
          </mat-tab-group>
    </ng-container>

    
</div>