<button class="btn btn-success btn-sm mb-3" (click)="saveStamp()">Save</button>

<div class="circular-bar" [ngStyle]="{'background-color': color }" id="stamp" #stamp>
    <div class="text-segment" [ngStyle]="{'background-color': bgColor }">
    </div>

    <div class="circular-text">
        <p *ngFor="let digitDegree of codeDigitDegrees"
            [ngStyle]="{'color': stampCodeColor, transform: 'rotate(-'+ digitDegree[1] +'deg)'}">
            <span>{{ digitDegree[0] }}</span>
        </p>
    </div>

    <div class="inner-circle" [ngStyle]="{'background-color': bgColor }">
        <div class="stamp-content" [ngStyle]="{'color': color }">
            <p class="title fs-4 mb-1">NORTIC</p>
            <p class="nortic display-3">A7</p>

            <span class="stamp-divider" [ngStyle]="{'background-color': color }"></span>

            <p class="year fs-4">2016</p>
        </div>
    </div>

</div>