$circle-size: 250px;
$inner-circle-size: 210px;
$border-radius: 50%;

@mixin absolute-content-center() {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.circular-bar {
    position: relative;
    width: $circle-size;
    height: $circle-size;
    overflow: hidden;
    border-radius: $border-radius;
    
    .text-segment,
    .circular-text,
    .inner-circle {
        position: absolute;
        user-select: none;
        pointer-events: none;
    }

    .text-segment {
        width: $circle-size / 2;
        height: $circle-size / 2;
        top: 50%;
        right: 50%;
        transform: rotate(-25deg) skew(-5deg);
        transform-origin: top right;

    }

    .circular-text {
        width: $circle-size;
        height: $circle-size;
        transform: rotate(240deg);
        background-color: transparent;

        p {
            letter-spacing: -8px;
            font-weight: bold;
            position: absolute;
            top: 0;
            right: 0;
            width: 1px;
            margin: 0 calc(50% - 1px) 0 0;
            transform-origin: 0 100%;

            // radio
            height: $circle-size / 2;

            span {
                position: inherit;
                transform: rotate(180deg);
            }
        }
    }

    .inner-circle {
        width: $inner-circle-size;
        height: $inner-circle-size;
        @include absolute-content-center();
        border-radius: $border-radius;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.stamp-content {
    text-align: center;

    .title,
    .nortic,
    .year {
        margin: 0;
        line-height: 0.9;
        font-weight: bold;
        user-select: none;
    }

    .title {
        letter-spacing: 0;
    }

    .nortic {
        letter-spacing: 1px;
    }

    .year {
        letter-spacing: 6px;
        margin-top: .5rem;
    }

    .stamp-divider {
        position: relative;
        height: 1.6px;
        width: $inner-circle-size / 2;
        border-radius: 5px;
        display: block;
        margin: 0.3rem 0;

        &:after {
            position: absolute;
            content: "";
            width: 7px;
            height: 7px;
            @include absolute-content-center();
            background-color: inherit;
            border-radius: 50%;
        }
    }
}
